body {
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
}
form {
    border-radius: 7px;
    border: 1px solid;
    width: 45%;
    display: grid;
    padding: 12px;
    margin-left: 26%;
}
label, input, select, button {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px;
    margin-left: 10%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}